<!--<div class="container bg-light-custom text-center custom-text-color">
    <div class="row row-cols-4">
        <div class="card col mr-3 mb-3">
            <div class="card-body">
                <h3>Our Team.</h3>
                <p class="card-sub-title">LOREM IPSUM DOLORES AMET</p>
                <p class="card-sub-text pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, reiciendis.</p>
            </div>
        </div>
        <div ng-repeat="person in staff" class="card col mr-3 mb-3">
            <img src="images/{{ person.image }}" alt="" class="card-img-top border custom-border" style="width: auto; height: 150px;">
            <div class="card-body">
                <h5>{{ person.title }}</h5>
                <p>{{ person.text }}</p>
                <div class="d-flex justify-content-around">
                    <a href="#"><i class="fab fa-instagram custom-text-color"></i></a>
                    <a href="#"><i class="fab fa-twitter custom-text-color"></i></a>
                    <a href="#"><i class="fab fa-facebook-f custom-text-color"></i></a>
                    <a href="#"><i class="fas fa-globe-americas custom-text-color"></i></a>
                </div>
            </div>
        </div>
</div> -->

